extends layout

block content
    #content.row
        #row1-offset.col-sm-1.col-md-1

        #row1-content.row.col-sm-10.col-md-10
            //empty row
            #title.row.col-sm-12.col-md-12
            //content
            #main.col-sm-9.col-md-9
                h1= title
                hr#index
                //br
                p= intro
                p= main
                br
            #sidebar.col-sm-3.col-md-3
                br
                img(id='profile-pic' src='/images/pic.jpg' alt='profile-pic')
                strong= sideElement

                each val, index in contact
                    br
                    a(href=val, target="_blank") #{index}

        #row1-offset.col-sm-1.col-md-1